/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/src/tut_test
/src/bufr2netcdf
/src/nccmp/nccmp
*.o
*.lo
*.la
*.swp
.deps
.dirstamp
.libs
Makefile
Makefile.in
